:root{
    --primary-pink: #FDC3DD;
    --secondary-pink: #FADADD;
    --yellow: #FFFFE3;
}

/* Homepage */
.homepage-body{
    background-color: var(--primary-pink);
    width: 100vw;
    height: 100vh;
}

.homepage-container{
    width: 50%;
    height:50%;
    border: 2px solid black;
    margin: 3.125rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.homepage-container input{
    width: 70%;
    height: 3.125rem;
    margin: 0.625rem auto;
    text-align: center;
    padding: 1.5rem;
    font-family: 'Arial';
}

/* Define Problem */

.dp-body{
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-pink);
}