:root{
    --primary-pink: #FDC3DD;
    --secondary-pink: #FADADD;
    --yellow: #FFFFE3;
}

/* Homepage */
.homepage-body{
    background-color: var(--primary-pink);
    width: 100vw;
    height: 100vh;
}

.homepage-container{
    width: 50%;
    height:50%;
    border: 2px solid black;
    margin: 3.125rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.homepage-container input{
    width: 70%;
    height: 3.125rem;
    margin: 0.625rem auto;
    text-align: center;
    padding: 1.5rem;
    font-family: 'Arial';
}

/* Define Problem */

.back-btn, .back-btn:visited{
    width: 20px;
    color: ivory;
    position: relative;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    background-color: var(--primary-pink);
    padding: 0.5%;
    border: 0.5px solid var(--yellow);
}

.dp-body{
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-pink);
}

.dp-body fieldset{
    height: 31.25rem;
    width: 43.75rem;
    padding: 2%;
    background-color: var(--yellow);
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.problem-text label{
    font-size: 1.2rem;
    margin-top: 1rem;
}

#define-problem{
    width: 70%;
    height: 21rem;
    margin: 1.25rem auto;
}

#submit-problem{
    width: 30%;
    height: 3.125rem;
    margin: 1.25rem auto;
}
